body{
    font-family:'Times New Roman'
}
img.main {
    display: block;
    margin: 0px auto
}
img.icons{
    width: 25px;
}
h1{
    text-align: center
}
li{
    display: inline
}
div.footer{
    height: auto;
}
div.row{
    display: inline
}
footer.container{
    display: flex;
    position: fixed;
    bottom: 0;
    width: auto;
}
button{
    padding: 10px 20px;
}