@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

body:not(#home), .modal-body{
    background-color: #FFFFFF
}

/*Főoldal*/
#home{
    height: 100vh;
    background-image: url(./képek/Menű.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#home .intro{
    color: white;  
    height: 100vh;     
}

#home .intro .col-md-8{
    background-color: rgba(0,0,0,0.4);    
}

/*Menü*/
nav{
    background-color: #F15B21;
}

nav a{
    background-color: #F15B21;
    margin: 15px;
}

nav a:hover{
    color: #F15B21
    text-decortaion none;
}

nav a:first-child img{
    width: 40px;
}

.banner{
    background-image: url(banner.png);
    background-position:  center center;
    background-size: cover;
    height: 400px;
}

h1{ 
    font-family: 'Iceberg', cursive;
    color: #F15B21;
    text-align: center;
    }

.card{
    color: #F15B21;
    background-color: #FFFFFF;
    border: 1px solid #F15B21;

}

.card:hover{
    box-shadow: 0px 0px 5px #F15B21;
}

h5{
    text-align: center;
    font-variant: small-caps;
    font-family: 'Iceberg';
}

a:hover{
    text-decoration: none;
}

#napiajanlat{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.footer{
    background-color: #F15B21;
    color: #FFFFFF;
}

footer li{
    list-style-type: none;
}

footer li>img{
    width: 15px;
    margin-right: 10px;
}
.modal-content{
    background-color: #F15B21;
}