body {
    background-color: lightgreen;
}

nav {
    background-color: green;
}

nav a:first-child img {
    width: 40px;
}

#napiajanlat{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.footer{
    background-color: green;
    color: white;
}

footer li{
    list-style-type: none;
}
.banner{
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
}