.navbar {
    background-color: green;
    
    
}
.navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 1px 16px;
    font-size: 18px;
}
.navbar a:hover{
    background-color: darkgreen;

}
.Lucy{
    color: white;
}
body{
    background-image: url(./képek/kácé_babokon.png);
    background-repeat: no-repeat;
    background-size: cover;
}