.navbar {
    background-color: green;
    color: white;

    width: auto;
    margin: left;
}
.navbar a{
 color: white;
 float: left;
}
.navbar a:hover{
    background-color: darkgreen;
    color: white;
}
.Lucy{
    color: white;
}
body{
    background-image: url(./képek/kácé_babokon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    background-image: url(./képek/Rectangle\ 3\ \(1\).png);
    background-size: 400px;
    color: white;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}