.navbar {
    background-color: green;
    color: white;

    width: auto;
    margin: left;
  
}
.navbar a{
 color: white;
 float: left;
 text-decoration: none;
}
.navbar img{
    width: 30px;
}
.navbar a:hover{
    background-color: darkgreen;
    color: white;
}
.Lucy{
    color: white;
    font-size: 20px;
}
body{
    background-image: url(./képek/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    background-image: url(./képek/Rectangle\ 3\ \(1\).png);
    background-size: 400px;
    color: white;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    background-size: cover;
}
.footer{
    background-color: darkgreen;
    
}
.footer li>img{
    width: 22px;
    margin-right: 10px;
}